@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: #fff;
	background: #000;
}

html {
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	body {
		--background: #121212;
		--background-elevated-1: #222222;
		--background-elevated-2: #323232;
		--accent-color-main: #2374ff;
		--accent-color-one: #000;
		--accent-color-two: #ececec;
		--font-color: #dcdcdc;
		--font-color-inverse: #191414;
		--correct: #30c760d9;
		--incorrect: #bb0202cf;
		--progress: #31cd63;

		margin: 0;

		font-family: 'Zilla Slab', serif;
		font-size: 18px;

		background-color: var(--background);
	}
}

@media (prefers-color-scheme: light) {
	body {
		--background: #e5e5e5;
		--background-elevated-1: #f0f0f0;
		--background-elevated-2: #fafafa;
		--accent-color-main: #000;
		--accent-color-one: #fff;
		--accent-color-two: #121212;
		--font-color: #000;
		--font-color-inverse: #f4f3f6;
		--correct: #30c760d9;
		--incorrect: #bb0202cf;
		--progress: #31cd63;

		margin: 0;

		font-family: 'Zilla Slab', serif;
		font-size: 18px;

		background-color: var(--background);
	}
}

body {
	--background: #e5e5e5;
	--background-elevated-1: #f0f0f0;
	--background-elevated-2: #fafafa;
	--accent-color-main: #000;
	--accent-color-one: #fff;
	--accent-color-two: #121212;
	--font-color: #000;
	--font-color-inverse: #f4f3f6;
	--correct: #30c760d9;
	--incorrect: #bb0202cf;
	--progress: #31cd63;

	margin: 0;

	font-family: 'Zilla Slab', serif;
	font-size: 18px;

	background-color: var(--background);
}

body.dark-theme {
	--background: #121212;
	--background-elevated-1: #222222;
	--background-elevated-2: #323232;
	--accent-color-main: #2374ff;
	--accent-color-one: #000;
	--accent-color-two: #ececec;
	--font-color: #dcdcdc;
	--font-color-inverse: #191414;

	background-color: var(--background);

	min-height: 100vh;
}

h1 {
	font-weight: 600;
	font-size: 3em;

	color: var(--font-color);

	margin-top: 0;
	margin-bottom: 0;
}

span {
	cursor: default;
}

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 350ms;
	animation-name: animatebottom;
	animation-duration: 350ms;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

.game-setup {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	position: absolute;

	color: var(--font-color);
	background-color: var(--background);

	height: 100vh;
	width: 100vw;

	z-index: 15;

	font-size: 20px;
}

.game-setup.done {
	display: none;
}

.game-setup fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* gap: 25px; */

	border-radius: 12px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

	background-color: var(--background-elevated-1);
}

body.dark-theme .game-setup fieldset {
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: none;
}

.game-setup fieldset legend {
	margin-top: 0;
	margin-bottom: 30px;
	position: relative;

	font-size: larger;
	font-weight: 500;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	max-width: 700px;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-runnable-track {
	background: var(--accent-color-main);
	height: 4.65px;

	border-radius: 8px;
}

/******** Firefox ********/
input[type='range']::-moz-range-track {
	background: var(--accent-color-main);
	height: 4.65px;

	border-radius: 8px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;

	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	background-color: #fff;
	height: 16px;
	width: 16px;

	margin-top: -5.275px; /* Centers thumb on the track */

	cursor: pointer;
}
/***** Firefox *****/
input[type='range']::-moz-range-thumb {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	background-color: #fff;
	height: 16px;
	width: 16px;
}

.input-type-number-of-questions {
	display: flex;
	align-items: center;

	height: 36px;
	margin-top: 5px;
}

button.increment-input-type-number,
button.decrement-input-type-number {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	height: 50%;
	width: 15px;

	border: 0.5px solid var(--accent-color-main);
	border-radius: 0;

	background-color: var(--background-elevated-1);
	color: var(--font-color);

	padding: 2px;
	text-align: center;
}

button.increment-input-type-number {
	top: -25%;
	border-bottom: none;
}

button.decrement-input-type-number {
	top: 25%;
	left: -15px;
}

button.increment-input-type-number:active,
button.decrement-input-type-number:active {
	font-size: larger;
}
button.increment-input-type-number:hover,
button.decrement-input-type-number:hover {
	background-color: var(--background-elevated-1);
	color: var(--accent-color-main);
}

/**** number input ****/
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number'] {
	margin: 0;
	position: relative;

	width: 33px;
	height: inherit;

	background-color: var(--background-elevated-1);
	color: var(--font-color);

	font-family: 'Zilla Slab', serif;
	font-size: 25px;
	font-weight: 600;

	border: none;
	border: 0.5px solid var(--accent-color-main);
	border-right: none;

	text-align: center;
	vertical-align: middle;
}

input[type='number']:focus {
	outline: none;
}

.categories-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: baseline;

	/* margin-top: -25px; */
}

.categories-wrapper p {
	margin-bottom: 10px;
}

.checkbox-label {
	font-size: 20px;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 20px auto;
	gap: 3px;

	cursor: pointer;
}

.checkbox-label + .checkbox-label {
	margin-top: 5px;
}

.checkbox-label i {
	display: flex;
	justify-content: space-between;
}

.checkbox-label i > * {
	opacity: 0.6;
}

input[type='checkbox'] {
	accent-color: var(--accent-color-main);
	cursor: pointer;
}

label.select-label {
	margin-top: 15px;
	margin-bottom: 2px;
}

div.select-wrapper {
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;
}

.multiselect {
	width: 100%;

	position: relative;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;

	font-weight: 500;
	font-family: 'Zilla Slab', serif;
	font-size: 18px;

	padding: 3px 2px;

	border: 1px solid var(--accent-color-two);
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;

	background-color: var(--background-elevated-1);
	color: var(--font-color);
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	cursor: pointer;
}

#gameDifficultyOptions {
	position: absolute;
	display: none;

	width: 100%;

	border: 1px solid var(--accent-color-two);
	border-top: none;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;

	padding: 2px;

	background-color: var(--background-elevated-1);

	cursor: pointer;

	z-index: 1;
}

#gameDifficultyOptions * {
	padding: 0px 4px;
}

#gameDifficultyOptions.show {
	display: block;
}

#gameDifficultyOptions label:hover {
	background-color: rgba(119, 119, 119, 0.2);
}

.region-select-wrapper {
	display: flex;
	flex-direction: column;

	font-weight: 400;
	margin-bottom: 20px;
}

.region-selector {
	width: 100%;
	font-weight: 500;
	font-family: 'Zilla Slab', serif;
	font-size: 18px;
	padding: 3px 2px;
	border: 1px solid var(--accent-color-two);
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	background-color: var(--background-elevated-1);
	color: var(--font-color);

	margin-top: 2px;
}

.selected-option {
	position: relative;

	text-align: center;
	opacity: 0.7;

	z-index: 0;
}

button {
	background-color: var(--accent-color-main);
	color: var(--font-color-inverse);

	border-color: var(--accent-color-main);
	border-radius: 4px;
	border-style: solid;
	border-width: 1.99405px;

	display: inline-block;

	font-family: 'Inter';
	font-weight: 700;
	line-height: 24px;
	padding: 6px 24px;
	text-align: center;

	cursor: pointer;

	transition: all 100ms ease-in-out;
}

button:hover {
	background-color: transparent;
	border-color: var(--accent-color-main);
	box-shadow: none;
	color: var(--font-color);
}

.game-setup button {
	line-height: 30px;
	font-size: 16px;
}

.changeTheme {
	position: absolute;
	width: 90px;
	height: 60px;
	top: 80%;
	left: -50px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--background-elevated-1);

	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

	border: 1px solid #444;
	border-left: none;

	padding: 5px;

	z-index: 150;

	transition: transform 500ms ease-in-out;
	cursor: pointer;
}

.theme-icon {
	height: 45px;
	width: 50px;

	margin-left: 35px;

	border: 1px solid #444;
	border-radius: 50%;
	padding: 1%;

	background-color: var(--accent-color-two);

	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
}
body:not(.dark-theme) .theme-icon {
	background-image: url('svg/moon.svg');
}

body.dark-theme .theme-icon {
	background-image: url('svg/sun.svg');
}

.changeTheme:hover {
	transform: translateX(15px);
}

.game-elements {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;

	position: relative;
	background-color: var(--background);
}

.game-elements.show {
	display: flex;
}

.main-container {
	width: 90%;
	max-width: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 12px;

	background-color: var(--background);
}

.score {
	position: absolute;
	width: auto;
	min-width: 110px;
	height: 28px;
	top: 20px;
	left: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background: var(--background-elevated-2);
	border-radius: 4px;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);

	font-weight: 600;
	font-style: italic;

	padding: 2px 8px;
}

.score p {
	color: var(--font-color);
}

.score .current-question-points {
	display: none;
	position: absolute;
	top: 25px;
	right: 8px;

	color: var(--font-color);

	opacity: 0;
}

.score .current-question-points.show {
	display: block;
}

.fade {
	position: relative;
	animation-duration: 3s;
	animation-name: fade;
}

@keyframes fade {
	0% {
		transform: translateY(0px);
		opacity: 100;
	}
	100% {
		transform: translateY(-24px);
		opacity: 0;
	}
}

body.dark-theme .score {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.points-svg {
	height: 22px;
	width: 22px;
}

.question-container {
	font-size: 24px;
	font-weight: 600;

	line-height: 25px;

	margin: 10px 10px 40px 10px;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--font-color);
}

.categoryDisplay {
	width: auto;
	height: auto;
	min-width: fit-content;

	background-color: var(--accent-color-main);
	color: var(--font-color-inverse);

	border-radius: 18px;
	border: 1px solid rgba(117, 117, 117, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	margin-top: -15px;
	margin-bottom: 10px;

	padding: 1px 13px;

	font-size: 17px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}

.answers-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;

	border-radius: 12px;
	margin-bottom: 15px;

	position: relative;

	background-color: var(--background);
}

.answer-wrapper {
	background-color: var(--background-elevated-2);
	color: var(--font-color);
	padding: 10px;
	margin-bottom: 15px;

	width: 80%;

	display: flex;
	align-items: center;

	border: 1px solid transparent;

	cursor: pointer;

	transition: all 0.35s ease;

	border-radius: 8px;
}

body.dark-theme .answer-wrapper {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.answers-container.change-cursor div,
.answers-container.change-cursor * {
	cursor: wait;
}

.answer-wrapper.correct {
	border: 1px solid var(--correct) !important;
	background-color: var(--correct) !important;
	z-index: 5;
}

.answer-wrapper.incorrect {
	border: 1px solid var(--incorrect) !important;
	background-color: var(--incorrect) !important;
	color: var(--accent-color-two) !important;
	z-index: 5;
}

.answer-wrapper:hover {
	border-color: var(--accent-color-main) !important;
	box-shadow: 0 10px 15px rgba(#000, 0.9);
	transform: translateY(-5px);
}

.answer-wrapper:hover > div {
	border: 1px solid var(--accent-color-main);
	transition: all 150ms ease;
}

.answer-wrapper input {
	appearance: none;
}

.answer-wrapper .answer-letter {
	border-radius: 50%;
	width: 35px;
	min-width: 35px;
	height: 35px;
	min-height: 35px;

	border: none;
	margin-right: 15px;

	background-color: var(--background-elevated-1);
	border: 1px solid rgba(117, 117, 117, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;

	font-size: large;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 2;

	cursor: pointer;
}

.answer-wrapper p {
	font-style: normal;
	font-weight: 500;

	text-align: left;

	z-index: 4;

	cursor: pointer;
}

.question-timer-container,
.question-timer {
	position: absolute;
	top: 0;
	left: 0;
}

.question-timer-container {
	height: 10px;
	width: 100%;

	background-color: #e5e5e5;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;

	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body.dark-theme .question-timer-container {
	background-color: var(--background-elevated-2);

	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.question-timer {
	height: 8.5px;
	background-color: var(--progress);
	width: 0%;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.question-timer.start {
	animation: fill-timer-bar 20s linear;
}

@keyframes fill-timer-bar {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.progress-container {
	position: relative;
	width: 100vw;
	height: 75px;
	background-color: var(--background-elevated-1);
	color: var(--font-color);

	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 10px;
}

.progress-container label {
	position: relative;
	font-size: 13px;
}

.progress-container button {
	height: 30px;
	width: 150px;

	line-height: 15px;
}

.progress-container button:hover {
	color: var(--font-color);
	background-color: var(--incorrect);
	border-color: var(--incorrect);
}

.progress-container progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* for firefox progress element background style */
	border: none;
	background-color: rgba(117, 117, 117, 0.2);
	border: 1px solid rgba(117, 117, 117, 0.2);
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
	/* Dimensions */
	width: 100px;
	height: 15px;
}

.progress-container progress[value]::-webkit-progress-bar {
	background-color: rgba(117, 117, 117, 0.2);

	border: 1px solid rgba(117, 117, 117, 0.2);
	border-radius: 15px;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}

.progress-container progress[value]::-webkit-progress-value {
	background-color: var(--progress);

	border: 1px solid rgba(117, 117, 117, 0.2);
	border-radius: 15px;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}

.progress-container progress[value]::-moz-progress-bar {
	background-color: var(--progress);

	border: 1px solid rgba(117, 117, 117, 0.2);
	border-radius: 15px;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}

.game-end-modal {
	display: none;

	height: 100vh;
	width: 100vw;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;

	background-color: var(--background);
	color: var(--font-color);

	font-size: 36px;
}

.game-end-modal.show {
	display: flex;
}

.end-game-modal-body {
	height: 96vh;
	width: 80vw;

	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
	align-items: center;
}

h3 {
	font-weight: 600;
}

.trophy {
	height: 25%;
	opacity: 0.815;
}

.end-game-modal-body > div {
	display: flex;
	flex-direction: column;
}

div.score-container {
	width: 90%;
	max-width: 500px;

	background-color: var(--background-elevated-1);

	border-radius: 8px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin: 20px 0px;
	padding: 11px 15px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

body.dark-theme div.score-container {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#score {
	font-style: oblique;
	font-weight: 600;
}

.correctAnswers,
.incorrectAnswers,
#correctAnswersDisplay,
#incorrectAnswersDisplay {
	text-align: center;

	font-style: italic;
	font-size: 28px;
}

#correctAnswersDisplay,
#incorrectAnswersDisplay {
	font-weight: 600;
	font-size: 32px;
}

span.correctAnswers > p,
span.incorrectAnswers > p {
	display: inline;

	font-style: oblique;
	font-weight: 600;
}

button#play-again {
	margin-top: 35px;
}

.loadingScreen {
	display: none;
	position: relative;
}

.loadingScreen::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;

	z-index: 50;

	opacity: 0.5;

	height: 100vh;
	width: 100vw;

	background-color: var(--accent-color-one);
	cursor: wait; /* busy cursor feedback */
}

.loadingIcon {
	display: block;
	/********* center on page ********/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: -38px 0 0 -38px;
	/*********************************/

	border: 8px solid rgb(205, 205, 205);
	border-top: 8px solid var(--accent-color-main);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;

	z-index: 100;
	cursor: wait; /* busy cursor feedback */
}

.loadingScreen.show {
	display: block;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadingIcon.show {
	display: block;
}
